.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* header area */
    
header{
    background-color: #FFF8F3;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    align-items: center;
}

nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}

nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

nav button{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    border:none
    
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.logo h2 .orange{
    color: #FD6E0A;
}




