.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* header area */
    
header{
    background-color: #FFF8F3;
    background: url(images/developer.png),url(images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: left center , right bottom;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    align-items: center;
}

nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}

nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

button{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    border:none
}

.CV i{
    padding-right: 10px;
}

.contact{
    margin-left: 30px;
    background-color:#FFF8F3;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}



.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.logo h2 .orange{
    color: #FD6E0A;
}

/* making banner */

.banner{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 163px;
}

.banner .banner-text{
    max-width: 585px;
    animation: textslide 1.3s forwards;
}

.banner img{
    vertical-align:middle;
    animation: imageslide 1.3s forwards;
    max-width: 585px;
}

.banner .banner-text h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner .banner-text h1{
    font-size: 85px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}

.banner .banner-text p{
    font-size: 18px;
    line-height: 30px;
    color: #474747;
    margin-bottom: 30px;
}


@keyframes textslide {
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes imageslide {
    0%{
        transform: translateX(150px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


/* about section */

.about{
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140;
    margin: 0 auto;
    margin-top: 130px;
    text-align: center;
    padding: 131px 156px;
    border-radius: 10px;
}

.about .about-section{
    max-width: 827px;  
    margin: 0 auto; 
    text-align: center;
}

.about-section h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-section p{
    font-size: 18px;
    line-height: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.about-section .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info p{
    font-size: 20px;
    color: #474747;
}

.about-info h4{
    font-size: 20px ;
}

/* skills */


.skills{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}

.skills-heading{
    width: 71%;
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.skills-heading h2{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;
}

.skills-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #474747;
}

.card-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 24px;

}

.card-container .card{
    padding: 30px;
    box-shadow: 0px 6px 50px 0 #0000001e;
    transition: 0.3s;
}

.card-container .card img{
    max-width: 44px;
    padding-bottom: 30px;
}

.card-container .card h4{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;

}

.card-container .card p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}

.card:hover{
    transform: translateY(-10px);
}

